.headerWrapper{
    position: fixed; 
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    box-shadow: 0 0 3px white;
    background-color: black;
    z-index: 3;
    .logo{
        a{
            text-decoration: none;
        }
        h2{
            color:rgb(188, 13, 71);
            font-size: 2rem;
            text-shadow: 1px 1px 1px white;
        }
    }

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color:white;
    margin-right: 1em;
    a{
        text-decoration: none;
        color:white;
        font-size: 1.2rem;
        font-weight: bold;
    }
}